/*--------------------------------*- C++ -*----------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  v2112                                 |
|   \\  /    A nd           | Website:  www.openfoam.com                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    location    "system";
    object      fvSolution;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

solvers
{{'{'}}{% for solver_name in data.solvers._tag_children %}{% set solver_settings =  data.solvers[solver_name] %}
    {{ solver_name }}
    {
        solver          {{ solver_settings.solver }};
        preconditioner  {{ solver_settings.preconditioner }};
        tolerance       {{ solver_settings.tolerance }};
        relTol          {{ solver_settings.relTol }};
    }{% endfor %}
}

PISO
{
    nCorrectors     {{ data.piso.nCorrectors }};
    nNonOrthogonalCorrectors {{ data.piso.nNonOrthogonalCorrectors }};
    pRefPoint       {{ data.piso.pRefPoint }};
    pRefValue       {{ data.piso.pRefValue }};
}

// ************************************************************************* //
