# Solver $name_project

## Installation

First install [fluidsimfoam] (see
https://fluidsimfoam.readthedocs.io/en/latest/install.html). Then:

```sh
pip install -e .
```

[fluidsimfoam]: https://foss.heptapod.net/fluiddyn/fluidsimfoam
