from pathlib import Path

from $name_package import Simul

from fluidsimfoam.testing import check_saved_case, skipif_executable_not_available

here = Path(__file__).absolute().parent


def test_generate_base_case():
    params = Simul.create_default_params()
    params.output.sub_directory = "tests_fluidsimfoam/$name_short"
    sim = Simul(params)
    check_saved_case(here / "saved_cases/case0", sim.path_run)


# @skipif_executable_not_available("interFoam")
# def test_run():
#     params = Simul.create_default_params()
#     params.output.sub_directory = "tests_fluidsimfoam/$name_short"
#     # change parameters to get a very short and small simulations
#     ...
#     sim = Simul(params)
#     sim.make.exec("run")
