
FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    location    "system";
    object      setFieldsDict;
}

expressions
(
    grad_inv_rhok
    {
        variables
        (
            "rho0=1000;"
            "height=1;"
            "delta_rho=-0.000102;"
        );

        field rhok;
        value uniform 1000;
        expression "rho0 + pos().y / height * delta_rho";
        keepPatches 1;
    }
);
