FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    location    "constant";
    object      fvOptions;
}

/*
pressureGradient
{
    type                vectorSemiImplicitSource;
    selectionMode       all;
    volumeMode          specific;
    sources
    {
        U ((0 1.978046e-03 0) 0);
    }
}
/*


atmCoriolisUSource1
{
    type            atmCoriolisUSource;
    atmCoriolisUSourceCoeffs
    {
        selectionMode   all;
        Omega           (0 7.2921e-5 0);
    }
}


momentumSource
{
    type            meanVelocityForce;
    active          yes;

    meanVelocityForceCoeffs
    {
        selectionMode   all;
        fields          (U);
        Ubar            (0.1 0 0);
    }
}
