/*--------------------------------*- C++ -*----------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  v2112                                 |
|   \\  /    A nd           | Website:  www.openfoam.com                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     {{ version }};
    format      {{ format }};
    class       {{ class }};
    location    "{{ location }}";
    object      {{ object }};
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

solvers
{
    {% for solver_name, solver_settings in solvers.items() %}
    {{ solver_name }}
    {
        solver          {{ solver_settings.solver }};
        preconditioner  {{ solver_settings.preconditioner }};
        tolerance       {{ solver_settings.tolerance }};
        relTol          {{ solver_settings.relTol }};
    }
    {% endfor %}
}

PISO
{
    nCorrectors     {{ piso.nCorrectors }};
    nNonOrthogonalCorrectors {{ piso.nNonOrthogonalCorrectors }};
    pRefPoint       {{ piso.pRefPoint }};
    pRefValue       {{ piso.pRefValue }};
}

// ************************************************************************* //